.App {
  margin: 0 50px;
}

.App .bold {
  font-weight: bold;
}

.App .mainHeading {
  padding: 50px 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  margin: 0;
}